* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

body {
    color: #ededed;
    background: #081b29;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    z-index: 100;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    z-index: 999;
    animation: slideRight 1s ease forwards;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list-link {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.nav__list-link:hover {
    color: #0ef;
}

@media (max-width: 1024px) {
    .nav__burger {
      width: 50px;
      height: 50px;
      position: relative;
      display: grid;
      place-items: center;
      z-index: 999;
    }
    .nav__burger-line {
      position: relative;
      width: 100%;
      height: 2px;
      background: #fff;
      transition: 0.4s;
    }
    .nav__burger-line::before,
    .nav__burger-line::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      transition: 0.4s;
    }
  
    .nav__burger-line::before {
      top: -10px;
    }
    .nav__burger-line::after {
      top: 10px;
    }
    .nav__burger.active .nav__burger-line {
      background: transparent;
    }
  
    .nav__burger.active .nav__burger-line::before {
      transform: rotate(-45deg);
      top: 0;
    }
    .nav__burger.active .nav__burger-line::after {
      transform: rotate(45deg);
      top: 0;
    }
  
    .nav__menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100dvh;
      display: grid;
      place-items: center;
      gap: 10px;
      background: rgba(0, 0, 0, 0.9);
      z-index: 1;
      transition: 0.4s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

    .nav__list-item {
        padding: 10px 0;
    }
  
    .nav__menu.active {
      left: 0;
    }
  
}

/* section home */

.home {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.home__content-title, .home__content-userName, .home__content-txt, .home__content-subtitle {
    color: #fff;
}

.home__content-title {
    font-size: 32px;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home__content-txt {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home__content-txt span {
    color: #0ef;
}

.home__content-userName {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home__content-subtitle {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

/* section home */

/* section about */

.about {
    padding: 30px 0;
}

.about .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    place-items: center;
    gap: 50px;
}

.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    width: 100%;
    max-height: 630px;
    object-fit: cover;
    border-radius: 5%;
}

.img {
    max-width: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    max-height: 500px;
}

.about-txt h2 {
    font-size: 60px;
}

.about-txt h2 span {
    color: #0ef;
}

.about-txt h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-txt p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
}

/* section about */

/* section services */

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    padding: 50px 0;
}

.sub-title {
    text-align: center;
    font-size: clamp(40px, 3vw, 60px);
    padding-bottom: 70px;
    padding-top: 70px;
}

.sub-title span {
    color: #0ef;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: transparent;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div h2:nth-of-type(2) {
    text-align: left;
    font-size: 25px;
}

.services-list div a {
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    transform: translateY(-10px);
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.read:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

/* section services */

/* section skills */

.skills .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 1240px) {
        justify-content: center;
    }
}

.container1{
    width: 600px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

.title {
    margin-top: 50px;
}

.bar {
    font-size: 23px;
}

.skills__content .bar {
    margin: 40px 0;
}

.skills__content .bar:first-child {
    margin-top: 0;
}

.skills__content .bar:last-child {
    margin-bottom: 0;
}

.skills__content .bar .info {
    margin-bottom: 5px;
}

.skills__content .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.skills__content .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 70%;    
    height: 5px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
}

.skills__content .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.active, .progress-line span {
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line.html span {
    width: 90%;
    background: aqua;
}

.progress-line.css span {
    width: 89%;
}

.progress-line.javascript span {
    width: 85%;
}

.progress-line.vue span {
    width: 80%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 13px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";

}

.progress-line.css span::after {
    content: "89%";
    
}

.progress-line.javascript span::after {
    content: "85%";
    
}

.progress-line.vue span::after {
    content: "80%";
    
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.redial-bars {
    max-width: 200px;
    width: 50%;
    position: relative;
}

.readial__cards {
    display: flex;
    flex-wrap: wrap;
}

.redial-bars .redial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.redial-bars .redial-bar .progress-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.redial-bars .redial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

.progress-bar.active ~ .path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.progress-bar.active ~ .path-2{
    animation: animate-path2 1s 1s linear forwards;
}

.progress-bar.active ~ .path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.progress-bar.active ~ .path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.redial-bars .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.redial-bars .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards ;
    opacity: 0;
}


/* section skills */

/* section project */

.main-text {
    padding-top: 130px;
}

.main-text h2 {
    font-size: clamp(30px, 3vw, 60px);
    text-align: center;
    margin-bottom: 50px;
}
.main-text h2 span {
    color: #0ef;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform  0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #fff;
    font-size: 18px;
    line-height: 1.8;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #000;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    opacity: .5;
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

/* section project */

@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}